.StatusBar {
    width: 100%;

    font-size: inherit;
    padding: 0.5em 1em;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    row-gap: 0.5em;

    background-color: var(--primary-color-l-high);
    border-radius: calc(var(--brand-border-radius) * 1);
}

.StatusBar__box {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--secondary-color-l-base);
    font-size: 1em;
    font-weight: normal;

    gap: .5em;
}

.StatusBar__title_box {
    justify-content: start;
    font-weight: bold;
    letter-spacing: 2px;
}

.StatusBar__system_options_box {
    height: 100%;
    justify-content: end;
}

.StatusBar__system_options_box > button {
    flex: 0 0 auto;
    min-width: 16ch;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: inherit;
    background-color: transparent;

    border: 2px solid currentColor;
    border-radius: calc(var(--brand-border-radius) * 1);

    outline-offset: 2.5px;

    padding: 0.25em 0.5em;
    cursor: pointer;
}

.StatusBar__system_options_box > button:last-child {
    min-width: initial;
    border: none;
    border-radius: 0;
    padding: 0;
}

.StatusBar_system_options_item__icon {
    fill: currentColor;
    height: 100%;
    aspect-ratio: 1;
}
