.Terminal {
    width: 100%;

    border-radius: var(--brand-border-radius);

    background-color: var(--primary-color-l-high);

    display: flex;
    flex-direction: column;

    --Terminal-gap: 5px;

    padding: var(--Terminal-gap);
    gap: var(--Terminal-gap);

    list-style: none;
}


.Terminal__input_label {
    display: flex;
    flex-direction: row;
    width: 100%;

    cursor: pointer;

    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: clamp(.8rem, 4vw, 1rem);

    color: var(--brand-color-l-high);
}

.Terminal__input_label > input {
    background-color: transparent;

    border: 0;
    outline: 0;

    font-size: 1em;
    font-family: inherit;
    color: inherit;

    color: var(--brand-color-l-highest);
}

.Terminal__command_log {
    color: var(--secondary-color-l-base);
}

.Terminal__command_log.--unsuccess { 
    color: var(--unsuccess-color);
}
